Checks: >
  -*,
  bugprone-*,
  cert-*,
  misc-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -misc-no-recursion

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
SystemHeaders: false
